<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome to your profile page!</p>
    <h1> welcome to page <%= user.name %> </h1>
    <h1> welcome to page <%= user.email %> </h1>
    <h1> welcome to city  of <%= user.address %> </h1>
</body>
</html>
